In [14]:
import pandas as pd

## Importing the data

In [15]:
control_1 = pd.read_csv('VarScan_results_alignment_1.csv')
control_2 = pd.read_csv('VarScan_results_alignment_2.csv')
control_3 = pd.read_csv('VarScan_results_alignment_3.csv')
roommate = pd.read_csv('VarScan_results_roommate.csv')

control_1.frequency = control_1.frequency.apply(lambda x: x.strip('%')).astype(float)
control_2.frequency = control_2.frequency.apply(lambda x: x.strip('%')).astype(float)
control_3.frequency = control_3.frequency.apply(lambda x: x.strip('%')).astype(float)
roommate.frequency = roommate.frequency.apply(lambda x: x.strip('%')).astype(float)

## Calculating average and standard deviation

Averages

In [16]:
average_1 = control_1.frequency.mean()
average_2 = control_2.frequency.mean()
average_3 = control_3.frequency.mean()

print('1st control average is ', round(average_1, 3))
print('2nd control average is ', round(average_2, 3))
print('3rd control average is ', round(average_3, 3))

1st control average is  0.256
2nd control average is  0.237
3rd control average is  0.25

Standard deviations

In [17]:
std_1 = control_1.frequency.std()
std_2 = control_2.frequency.std()
std_3 = control_3.frequency.std()

print('1st control standard deviation is ', round(std_1, 3))
print('2nd control standard deviation is ', round(std_2, 3))
print('3rd control standard deviation is ', round(std_3, 3))

1st control standard deviation is  0.072
2nd control standard deviation is  0.052
3rd control standard deviation is  0.078

In [18]:
control = pd.concat([control_1, control_2, control_3])
average = control.frequency.mean()
std = control.frequency.std()

print('Average is ', average)
print('Standard deviation is ', std)

Average is  0.24829411764705883
Standard deviation is  0.06898268773972731

## Findind significant mutations for roommate

In [19]:
roommate['significant'] = roommate.frequency.apply(lambda x: x < average - 3 * std or x > average + 3 * std)
significant_mutations = roommate[roommate.significant == True]
significant_mutations

    position reference_base alternative_base  frequency  significant
0         72              A                G      99.96         True
1        117              C                T      99.82         True
4        307              C                T       0.94         True
10       774              T                C      99.96         True
14       999              C                T      99.86         True
18      1260              A                C      99.94         True
20      1458              T                C       0.84         True

Saving the data

In [20]:
significant_mutations.to_csv('significant_mutations.csv')