## Using data from Munoz et al, 2004

In [2]:
epitopes = {
    'A': [122, 124, 126, 130, 131, 132, 133, 135, 137, 138, 140, 142, 143, 144, 145, 146, 150, 152, 168],
    'B': [128, 129, 155, 156, 157, 158, 159, 160, 163, 165, 186, 187, 188, 189, 190, 192, 193, 194, 196, 197, 198],
    'C': [44, 45, 46, 47, 48, 50, 51, 53, 54, 273, 275, 276, 278, 279, 280, 294, 297, 299, 300, 304, 305, 307, 
          308, 309, 310, 311, 312],
    'D': [96, 102, 103, 117, 121, 167, 170 , 171, 172, 173, 174, 175, 176, 177, 179, 182, 201, 203, 207, 208, 209, 
          212, 213, 214, 215, 216, 217, 218, 219, 226, 227, 228, 229, 230, 238, 240, 242, 244, 246, 247, 248],
    'E': [57, 59, 62, 63, 67, 75, 78, 80, 81, 82, 83, 86, 87, 88, 91, 92, 94, 109, 260, 261, 262, 265]
}

## Searching for epitopes

In [3]:
def find_epitope(x):
    protein_position = (x - 1) // 3 + 1
    for i in epitopes.keys(): 
        if protein_position in epitopes[i]: 
            return i
    return '-'

In [4]:
import pandas as pd
significant_mutations = pd.read_csv('significant_mutations.csv')

In [5]:
significant_mutations['epitope'] = significant_mutations.position.apply(find_epitope)
significant_mutations

,Unnamed: 0,position,reference_base,alternative_base,frequency,significant,epitope
0,0,72,A,G,99.96,True,-
1,1,117,C,T,99.82,True,-
2,4,307,C,T,0.94,True,D
3,10,774,T,C,99.96,True,-
4,14,999,C,T,99.86,True,-
5,18,1260,A,C,99.94,True,-
6,20,1458,T,C,0.84,True,-

In [6]:
epitope_significant_mutations = significant_mutations[significant_mutations.epitope != '-']
epitope_significant_mutations

,Unnamed: 0,position,reference_base,alternative_base,frequency,significant,epitope
2,4,307,C,T,0.94,True,D

Saving the data

In [7]:
epitope_significant_mutations.to_csv('epitope_significant_mutations.csv')